.contenedorPrecioFinal{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.totalCompra{
  background-color: rgb(180, 196, 196);
  width: 70%;
  font-size: 36px;
  margin: 20px;
}


  .contenedorCarrito{
    display: flex;
 
    align-items: center;
    justify-content: center;
  }
  .titulo_card2{
    margin-bottom: 20px;
  }
 
  .total_Producto2{
    margin: 10px;
    
  }

  .terminarCompra{
    background-color: gray;
    margin: 10px;
    font-size: 20px;
    
  }


  .contenedorPrecioFinal2{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
  }
