.contenedorOrden{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   



}

.contenedorOrdenTexto{
     width: 70%;
    background-color: rgb(180, 196, 196);
    margin-top: 40px;

}

.contenedorTituloOrden{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 40px;
}

.contenedorNroOrden{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px;
}