.contenedorOrden{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.contenedorOrdenTexto{
     width: 70%;
    background-color: rgb(180, 196, 196);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.contenedorTituloOrden{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 40px;
    
}
.contenedorNroOrden2{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    width: 100%;
    
}

.contenedorNroOrden{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    
}


@media screen and (max-width: 820px) {
   
    .contenedorNroOrden{
      font-size: 22px;
    }  
    .contenedorNroOrden2{
        font-size: 22px;
      } 
}

@media screen and (max-width: 510px) {
   
    .contenedorNroOrden{
      font-size: 20px
    }  
    .contenedorNroOrden2{
        font-size: 20px;
      } 
}
