* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .irAlCarrito{
    background-color: rgb(148, 214, 220);
    margin: 5px;
    font-size: 18px;
  }
  .containerItem{
    justify-content: center;
    display: flex;
    margin: 20px 20px 40px 20px;
  }
  .datos{
    margin: 20px;
  }
  .formato{
    justify-content: center;
    display: flex;
  }
  .titulo_cardItem{
    margin: 20px;
  }
  .marginDetail{
    margin-bottom: 15px;
  }

  .botonprecio_Item{
    font-size: 28px;
  }

  .color_botonAgregar{
    background-color:rgb(180, 196, 196);
    border-color: grey ;
  }