* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .containerItem{
    justify-content: center;
    display: flex;
  }

  .titulo_cardItem{
    margin: 20px;
  }

  .botonprecio_Item{
    font-size: 28px;
    
  }