* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .error{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 40px;
  }

  .boton_error{
    background-color: rgb(125, 125, 174);
    margin: 20px;
    padding: 15px;
    border-radius: 10%;
    color:white;
  }