.logoCarrito{
    width: 90%;
    color: rgb(67, 65, 65);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

 .colorCirculo{
        background-color: red;
        color: white;
      }