.contenedorTituloPrincipal{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 171, 171);
    height: 100px;
    margin-bottom: 25px;
    width: 100%;
}

  .formatoTituloPrincipal{
    align-items: center;
    
  }
  