* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.logo {
    width: 120px;
    border-radius: 50%;
    padding: 10 px;
   
    }
  
  .color--barranav {
      background-color: rgb(180, 196, 196);
      display: flex;
      flex-wrap: nowrap;
    margin-bottom: 15px;
      
    } 
    .colornav{
      
      width: 90%;
    }
    .contenedor_logoCarrito{
      display: flex;
      flex-wrap: nowrap;
      margin-right: 10px;
      background-color: rgb(42, 42, 249);
      color:rgb(91, 91, 91);
      
      }
    // .carritoSubtitulo{
    //     color: white;
    //     text-decoration: none;
    //     margin-left: 5px;
    //   }
    //   .encabezado{
    //     display: flex;
    //     flex-wrap: nowrap;
    //     justify-content: flex-end;
    //     margin: 15px;
    //   }
  
      // .colorCirculo{
      //   background-color: red;
      //   color: white;
      // }

      .cartWidget{
        justify-content: flex-end;
       background-color: red;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        width: 10%;
      }

      .botonnav {
        text-decoration: none;
        background-color: rgb(13, 13, 75);
        padding: 10px;
        color: white;
        border-radius: 5%;
        margin: 5px;
      }

      .menu_desplegable{
        text-decoration: none;
        background-color: rgb(13, 13, 75);
        padding: 10px;
        color: white;
        border-radius: 5%;
        margin: 5px;
      }