* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .contenedor_Carousel{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .contenedor_Carousel2{
    width: 60%;
    margin: 20px;

  }
  .contenedorTitulo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 171, 171);
    height: 100px;
  }
  .tituloPrincipal{
    align-items: center;
    
  }